*{padding:0;
margin:0;
box-sizing:border-box}

.menubar{
    background:rgb(252, 83, 4);
    text-align:center;
}

.menubar ul{
    display:inline-flex;
    list-style:none;
    color:#fff;
}
.menubar ul li{
    width:120px;
    margin:10px;
    padding:5px;
}
.menubar ul li a{
    text-decoration:none;
    color:#fff;
}
.active,.menubar ul li:hover{
    background: #d19358;
    border-radius:3px;
}
.menubar .fa{
    margin-left:8px
}
.submenu-1{
display:none;
}
.menubar ul li:hover .submenu-1{
    display:block;
    position:absolute;
    background:rgb(252, 83, 4);
    margin-top:15px;
    margin-left:15px;
}
.menubar ul li:hover .submenu-1 ul{
    display:block;
    margin:20px;

}
.menubar ul li:hover .submenu-1 ul li{
    width:120px;
    padding:20px;
    border-bottom:1px dotted #fff;
    background:transparent;
    border-radius:0;
    text-align:left;
}
.menubar ul li:hover .submenu-1 ul li:last-child{
    border-bottom:none;

}
.menubar ul li:hover .submenu-1 ul li a:hover{
    color:#d19358;
}